themes/_notes/pencilsofpromise/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2013-04-16 18:37:38 +0000.

Copyright 2005-2013 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2005/09/outbound"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.sforce.com/2005/09/outbound"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ent="urn:enterprise.soap.sforce.com"
             xmlns:ens="urn:sobject.enterprise.soap.sforce.com">
    <types>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com">
            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value='[a-zA-Z0-9]{18}'/>
                </restriction>
            </simpleType>
        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <!-- Base sObject (abstract) -->
            <complexType name="sObject">
                <sequence>
                    <element name="fieldsToNull"       type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id"                 type="ent:ID" nillable="true" />
                </sequence>
            </complexType>

            <complexType name="AggregateResult">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                            <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

            <complexType name="Contact">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                        <element name="AB_Contact__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AccountId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Active__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Activity_Level__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Additional_Language_Skills__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Addressee__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ambassador__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Applicant_Received_Via__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Application_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AssistantName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AssistantPhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Available_Start_Date__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Birthdate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="CO_Attn__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="College_Graduation_Year__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Comments__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Comments_on_Contact__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Comments_on_Staff_Memeber__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Company__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contact_Detail_Comments__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contact_Origin__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contact_Related__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Contact_Role__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contact_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Convert_to_Org_Record__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Country__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Current_PoP_Staff__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Date_Application_Was_Received__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Date_of_Round_One_Interview__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Date_of_Round_Three_Interview__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Date_of_Round_Two_Interview__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Deceased__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Dedication_Comments__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Delete__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Department" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Description" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Description__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Devel_Donor_Review__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="DoNotCall" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Do_Not_Mail__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Donor_Giving_Level__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Donor_Preferred_Country__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Donor_Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Education_Details__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Email" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="EmailBouncedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="EmailBouncedReason" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Employee_Matching__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="End_Date_With_PoP__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="English_Skills__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Event_Attendee__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="External_Event__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Fax" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="FirstName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="First_Donation_Primary_Campaign_Source__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Flag_for_Data_Clean_Up__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Formal_Greeting__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Gala_Contact_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Gala_Contact_Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Gala_Contact_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Gala_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Goal__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="HH_Suggested_Addressee_Formula__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="HH_Suggested_Formal_Greeting__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="HH_Suggested_Informal_Greeting__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="HasOptedOutOfEmail" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="HasOptedOutOfFax" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="HomePhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Honor_Role_Level__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Honor_Roll_Program__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Household_Related__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Informal_Greeting__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="International_Experience__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="IsDeleted" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Jigsaw" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="JigsawContactId" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Job_Internship_Applicant_Applied_For__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Job_Title__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Job_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Language_Abilities__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Laos_Skills__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LastActivityDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="LastCURequestDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastCUUpdateDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastName" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Last_Thank_You_Letter_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="LeadSource" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MailingStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Mailing_List__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Marketing_Campaign__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MasterRecordId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="MobilePhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Mobile_Subscriber__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="NDT_Chapter_Participant__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Needs_Project_Dedication__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Notes_of_Contact__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Notes_on_Applicant__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Online_Fundraiser__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherPhone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OtherStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OwnerId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Phone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Photo_URL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Platform_User__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="PoP_Club__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="PoP_Contact__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Position_Title__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Potential_Teams__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Preferred_Name__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Recommended_for_Round_1_Interview__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="RecordTypeId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Recurring_Donor__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Referred_By__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Referrer__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Rejection_Letter_Sent__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Religious_Affliation__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ReportsToId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Ripple_Effect__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Round_1_Interviewer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Round_1_Interviewer_s_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Round_Three_Interviewer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Round_Three_Interviewer_s_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Round_Two_Interviewer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Round_Two_Interviewer_s_Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Salutation" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="School_Email__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Segment__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sex__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Skype_Username__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Spanish_Skills__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sponser_In_Kind__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Start_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SystemModstamp" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="T_Shirt_Size__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Team__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Technology_Skills__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Title" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Title__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Title_of_Individual__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="To_Give_1st_Round__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="To_Give_2nd_Round__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="To_Give_3rd_Round__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Total_Raised__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Twitter_Handle__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Type_of_Role_Applicant_Applied_For__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="VIP__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Volunteer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Withdrew_application__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Work_Experience__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Youth_Participant__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="bde__Batch__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="npe01__AlternateEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__HomeEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Home_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Last_Donation_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npe01__Lifetime_Giving_History_Amount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npe01__Organization_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Other_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__PreferredPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Preferred_Email__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Primary_Address_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Private__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="npe01__Secondary_Address_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__SystemAccountProcessor__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Type_of_Account__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__WorkEmail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__WorkPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npe01__Work_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__AverageAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Best_Gift_Year_Total__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Best_Gift_Year__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__FirstCloseDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__Formula_HouseholdMailingAddress__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__Formula_HouseholdPhone__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__Household_Naming_Order__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Household__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="npo02__LargestAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__LastCloseDateHH__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__LastCloseDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__LastMembershipAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__LastMembershipDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__LastMembershipLevel__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__LastMembershipOrigin__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__LastOppAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__MembershipEndDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__MembershipJoinDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="npo02__Naming_Exclusions__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__NumberOfClosedOpps__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__NumberOfMembershipOpps__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmount2YearsAgo__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmountLastNDays__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmountLastYearHH__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmountLastYear__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmountThisYearHH__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppAmountThisYear__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppsClosed2YearsAgo__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppsClosedLastNDays__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppsClosedLastYear__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__OppsClosedThisYear__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__SmallestAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Soft_Credit_Last_Year__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Soft_Credit_This_Year__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Soft_Credit_Total__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Soft_Credit_Two_Years_Ago__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__SystemHouseholdProcessor__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="npo02__TotalMembershipOppAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__TotalOppAmount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="npo02__Total_Household_Gifts__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="pymt__Google_Buyer_Id__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="pymt__PayPal_Payer_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>


        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <import namespace="urn:sobject.enterprise.soap.sforce.com" />
    
            <element name="notifications">
                <complexType> 
                    <sequence> 
                    	<element name="OrganizationId" type="ent:ID" />
                    	<element name="ActionId" type="ent:ID" />
                    	<element name="SessionId" type="xsd:string" nillable="true" />
                    	<element name="EnterpriseUrl" type="xsd:string" />
                    	<element name="PartnerUrl" type="xsd:string" />
                        <element name="Notification" maxOccurs="100" type="tns:ContactNotification" />
                    </sequence> 
                </complexType> 
            </element>
    
            <complexType name="ContactNotification">
                <sequence>
                    <element name="Id" type="ent:ID" />
                    <element name="sObject" type="ens:Contact" />
                </sequence>
            </complexType>
                
            <element name="notificationsResponse">
                <complexType>
                    <sequence>
                        <element name="Ack" type="xsd:boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
    <!-- Method Messages -->   
    <message name="notificationsRequest">
        <part element="tns:notifications" name="request"/>
    </message>
    <message name="notificationsResponse">
        <part element="tns:notificationsResponse" name="response"/>
    </message>

    <!-- PortType -->
    <portType name="NotificationPort">
        <operation name="notifications">
            <documentation>Process a number of notifications.</documentation>
            <input  message="tns:notificationsRequest"/>
            <output message="tns:notificationsResponse"/>
        </operation>
    </portType>
    
    <!-- Binding 
         You need to write a service that implements this binding to receive the notifications
     -->
    <binding name="NotificationBinding" type="tns:NotificationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="notifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output> 
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Endpoint -->
    <service name="NotificationService">
        <documentation>Notification Service Implementation</documentation>
        <port binding="tns:NotificationBinding" name="Notification">
            <soap:address location="http://staging.pencilsofpromise.org/soapclient/listener.php"/>
        </port>
    </service>
    
</definitions>